

	<script src="/javascripts/jquery/dist/jquery.js"></script>
	<script src="/stylesheets/bootstrap/dist/js/bootstrap.js" ></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/custom.js"></script>
	
</body>
</html>